.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  color: #122486;
  background: url(../images/bionic-hand.jpg) left no-repeat;
  background-size: 34rem;
  border-bottom: solid 2px grey;
}

@media (min-width: 321px) {

  #site-search {
    display: block;
  }
  .welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    color: #122486;
    background: url(../images/bionic-hand.jpg) left no-repeat,
      url(../images/bionic-leg.jpg) right no-repeat;
    background-size: 40rem 30rem;
    border: 2px solid teal;
  }
}
