.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  color: #122486;
  background-size: 34rem;
  border-bottom: solid 2px grey;
}

.welcome-header, .projects-landing-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  top: 0;
}

#site-search {
  position: absolute;
  visibility: hidden;
}

.emphasize {
  display: flex;
  justify-content: center;
  background-color: #d2c7c7;
  a {
    margin-left: 1rem;
  }
}

@media only screen and (min-device-width: 321px) {

  #site-search {
    visibility: visible;
  }
  .welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    color: #122486;
    background: url(../images/bionic-hand.jpg) left no-repeat,
      url(../images/bionic-leg.jpg) right no-repeat;
    background-size: 40rem 30rem;
    border: 2px solid teal;
  }
}
