body {
  font-size: 1.3rem;
}

hr {
  margin-bottom: 1.5rem;
}

.welcome-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.71);
  background: url(../images/bionic-hand.jpg) left no-repeat,
    url(../images/bionic-leg.jpg) right no-repeat
    #b2b2b5;
  background-size: 45%;
}

.welcome-message * {
  background: rgba(55, 56, 86, 0.64);
  border: 1px solid red;
}
