body {
  margin: 0px;
  font-size: 1.3rem;
}

hr {
  margin-bottom: 1.5rem;
}

@import 'home.scss';
@import 'excerpts.scss';
@import 'navigation.scss';

.about-page {
  margin: 2rem;
}

.personal {
  display: flex;
  justify-content: space-between;
}

.personal-lists {
  width: 48%;
}

.skills-icons {
  width: 10rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.technical-skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#full-stack-javascript-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-landing-page {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: center;
  }
}

.project-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid teal;
  margin-top: 3rem;
  * {
    margin: 0;
  }
}

.blog-info {
  padding: 2rem;
}
.qna-list {
  margin-bottom: 2rem;
}
